<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/Login" routerLinkActive="active">Log in</a>
        <a class="navbar-brand" routerLink="/Register" routerLinkActive="active">Register</a>
        <a class="navbar-brand" routerLink="/Home" routerLinkActive="active">Home</a>
     
        <a class="navbar-brand" routerLink="/Product" routerLinkActive="active">Products</a>
        
       
    </div>
  </div>
  </nav>
  <div class="container">
  
    <router-outlet></router-outlet>
   
  
  </div>
  <div class="column"  ALIGN="Center" style=" background-color:#CAE6F6">
          <img src="/assets/img/got1.jpg" width="800px"height="150px">
          <br>
      </div> 